aside {
    font-family: Verdana;
    background-color: var(--light-gray-color);
    padding: 20px 20px 0 20px;
    height: 100vh;
}

#aside-top-container {
    display: flex;
    justify-content: space-between;
}

#aside-top-container span {
    font-weight: 400;
    line-height: normal;
    font-style: normal;
    font-size: var(--high-size);
    color: var(--default-gray-color);
}

.dashed-line {
    border: 1px dashed var(--fog-gray-color);
    margin: 20px 0 20px 0;
}

/*================ Percentage bar status ================*/

#percentage-bar-container {
    background-color: var(--white-color);
    border-radius: var(--default-radius);
    padding: 14px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#percentage-bar-container #percentage-bar-header-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

#percentage-bar-container #percentage-bar-header-container #percentage {
    display: flex;
    align-items: center;
    font-size: var(--medium-size);
    color: var(--black-color);
}

#percentage-bar-container #percentage-bar-text-container {
    display: flex;
    align-items: center;
}

#percentage-bar-container #percentage-bar-text-container img {
    margin-right: 7px;
}

#percentage-bar-container #bar-container {
    background-color: var(--light-2-gray-color);
    width: 100%;
    height: 7px;
    border-radius: var(--high-radius);
}

#percentage-bar-container #bar-container #bar-indicator {
    background: linear-gradient(90deg, #FC9C33 49.57%, #1D8F21 100%);
    width: 75%;
    height: 7px;
    border-radius: var(--high-radius);
}

/*================ Cards ================*/
#cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 14px;
    grid-row-gap: 14px;
    height: 115px;
}


.card-container {

    display: flex;
    align-items: center;
    background-color: var(--white-color);
    padding: 14px;
    border-radius: var(--default-radius);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-content {
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.card-elipse {
    width: 18px;
    height: 18px;
    border-radius: 100%;
    margin-right: 6px;
}

#elipse-blocked {
    background-color: var(--dark-gray-color);
    grid-area: 1 / 1 / 2 / 2;
}

#elipse-sold {
    background-color: var(--default-red-color);
    grid-area: 1 / 2 / 2 / 3;
}

#elipse-reserved {
    background-color: var(--default-orange-color);
    grid-area: 2 / 1 / 3 / 2;
}

#elipse-available {
    background-color: var(--default-green-color);
    grid-area: 2 / 2 / 3 / 3;
}

@media (max-width: 600px) {
    main {
        background-color: #51A351;
    }
}

/*================ Filter ================*/

.filte-title {
    margin-bottom: 5px;
}


