aside {
    font-family: Verdana;
    width: 600px;
    background-color: var(--light-gray-color);
    padding: 20px;
}

#aside-top-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

#aside-top-container span {
    font-weight: 400;
    line-height: normal;
    font-style: normal;
    font-size: var(--high-size);
    color: var(--default-gray-color);
}

.dashed-line {
    size: 1;
    border: 1px dashed var(--fog-gray-color);
}

/*================ Percentage bar status ================*/

#percentage-bar-container {
    background-color: var(--white-color);
    border-radius: var(--default-radius);
    margin: 20px 0 20px 0;
    padding: 15px;
}

#percentage-bar-container #percentage-bar-header-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

#percentage-bar-container #percentage-bar-header-container  #percentage{
    display: flex;
    align-items: center;
    font-size: var(--medium-size);
    color: var( --black-color);
}

#percentage-bar-container #percentage-bar-text-container {
    display: flex;
}

#percentage-bar-container #percentage-bar-text-container img {
    margin-right: 7px;
}

#percentage-bar-container #bar-container {
    background-color: var(--light-2-gray-color);
    width: 100%;
    height: 7px;
    border-radius: var(--high-radius);
}

#percentage-bar-container #bar-container #bar-indicator {
    background: linear-gradient(90deg, #FC9C33 49.57%, #1D8F21 100%);
    width: 75%;
    height: 7px;
    border-radius: var(--high-radius);
}

/*================ Cards ================*/
#cards-container {
    display: flex;
}
.card-container {
    background-color: var(--white-color);
    width: 160px; 
    padding: 15px;
    display: flex;
    align-items: center;
    border-radius: var( --default-radius);
    margin-right: 10px;
}

.card-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-wrap: initial;
}

.card-elipse {
    width: 18px;
    height: 18px;
    border-radius: 100%;
    margin-right: 6px;
}

#elipse-blocked {
    background-color: var(--dark-gray-color);
}

#elipse-sold {
    background-color: var(--default-red-color);
}

#elipse-reserved {
    background-color: var(--default-orange-color);
}

#elipse-available {
    background-color: var(--default-green-color);
}