* {
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Verdana', sans-serif;
}

html {
    font-size: 62.5%;
}

:root {
    /*================ Colors ================*/
    --black-color: #333333;
    --white-color: #FFFFFF;
    
    --white-02-color: #F5F5F5;
    --white-03-color: #E7E7E7;
    --white-04-color: #DDDDDD;

    --green-01-color: #409A75;
    --green-02-color: #51A351;
    --green-03-color: #2E6E66;

    --gray-01-color: #666;
    --gray-02-color: #999;

    --red-01-color: #EC5D59;

    --orange-01-color: #F89406;

    /*================ Font sizes ================*/
    --10px-size: 1rem;
    /*10px*/
    --08px-size: 0.8rem;
    /*8px*/

    /*================ Border radius ================*/
    --default-radius: 4px;
    --high-radius: 40px;
}

/*================ Template grid ================*/

body {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
}

@media (max-width: 680px) {
    body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
}

/*================ Font styles ================*/
.text-variant-01 {
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
    font-size: var(--10px-size);
}

.text-variant-02 {
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    font-size: var(--10px-size);
}

.text-variant-03 {
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
    font-size: var(--10px-size);
}

.text-variant-04 {
    font-weight: 400;
    font-style: normal;
    line-height: 34px;
    font-size: var(--10px-size);
}

.text-variant-05 {
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
    font-size: var(--08px-size);
}

.text-variant-06 {
    font-weight: 700;
    font-style: normal;
    text-align: center;
    line-height: normal;
    text-transform: uppercase;
    vertical-align: baseline;
    font-size: var(--10px-size);
}

.text-variant-07 {
    font-weight: 400;
    font-style: normal;
    text-align: center;
    line-height: normal;
    text-transform: uppercase;
    vertical-align: baseline;
    font-size: var(--10px-size);
}

/*================ Font Colors ================*/

.black-color {
    color: var(--black-color);
}

.white-color {
    color: var(--white-color);
}

.gray-01-color {
    color: var(--gray-01-color);
}