

main {
    display: flex;
    flex-direction: column;
    padding: 27px;
    width: 100%;
    background-color: var(--white-color);
}

#main-header {
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 10px; */
}

#sort-by {
    color: var(--default-gray-color);
    font-family: Verdana;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

#main-dropdown img {
    width: 9px;
    height: 5px;
    margin-left: 7px;
}

#main-dropdown span {
    display: flex;
    align-items: center;
}

/*================ media queries ================*/

@media (max-width: 680px) {
    main {
        padding: 20px 10px;
    }
}

@media (max-width: 380px) {

    #main-title {
        max-width: 100px;
    }
}

@media (max-width: 750px) {
    #sort-by {
        text-align: right;
        max-width: 90px;
    }

}