main {
    display: flex;
    flex-direction: column;
    padding: 27px;
    width: 100%;
    background-color: var(--white-color);
}

#main-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
}

#main-dropdown img {
    width: 9px;
    height: 5px;
    margin-left: 7px;
}

#main-dropdown span {
    display: flex;
    align-items: center;
}

/*================ Table ================*/

table {
    border-spacing: 0 10px;
    width: 100%;
}

.table-title {
    padding-bottom: 10px;
}

#sorted-by-lowest {
    display: none;
}

.row-container {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--light-gray-color);
}

.row-content {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}

.first-row {
    border-radius: var(--default-radius) 0 0 var(--default-radius);
}

.vertical-dashed-line {
    border-right: 1px dashed var(--white-04-color);
}

.last-row {
    border-radius: 0 var(--default-radius) var(--default-radius) 0;
    color: var(--white-color);
}

.status-available {
    background-color: var(--green-02-color);
}

.status-reserved {
    background-color: var(--orange-01-color);
}

.status-sold {
    background-color: var(--red-01-color);
}

.status-blocked {
    background-color: var(--gray-02-color);
}

/*================ main sort Dropdown ================*/

#main-dropdown {
    display: relative;
}

#main-dropdown-content {
    z-index: 1;
    right: 30px;
    display: none;
    margin-top: 6px;
    min-width: 50px;
    position: absolute;
    padding: 6px 10px 6px 10px;
    border-radius: var(--default-radius);
    background-color: var(--white-color);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.11);
}

.main-dropdown-item {
    /* border-radius: var(--default-radius); */
    padding: 10px 10px 10px 10px;
}

.main-dropdown-item:hover {
    background-color: var(--white-02-color);
}

/*================ media queries ================*/

@media (max-width: 680px) {
    main {
        padding: 20px 10px;
    }
}

@media (max-width: 380px) {

    #main-title {
        max-width: 100px;
    }
}

@media (max-width: 750px) {
    #sort-by {
        text-align: right;
        max-width: 90px;
    }

}

@media (max-width: 320px) {
    .table-container {
        overflow-x: auto;
    }
}