main {
    display: flex;
    flex-direction: column;
    padding: 27px;
    width: 100%;
    background-color: var(--white-color);
}

#m-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
}

#m-header__container img {
    width: 9px;
    height: 5px;
    margin-left: 7px;
}

#m-header__content {
    display: flex;
    align-items: center;
}

/*================ Table ================*/

table {
    border-spacing: 0 10px;
    width: 100%;
}

.table-title {
    padding-bottom: 10px;
}

#sorted-by-lowest {
    display: none;
}

.row-container {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--white-02-color);
}

.row-content {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}

.first-row {
    border-radius: var(--default-radius) 0 0 var(--default-radius);
}

.vertical-dashed-line {
    border-right: 1px dashed var(--gray-03-color);
}

.last-row {
    border-radius: 0 var(--default-radius) var(--default-radius) 0;
    color: var(--white-color);
}

.status-available {
    background-color: var(--green-02-color);
}

.status-reserved {
    background-color: var(--orange-01-color);
}

.status-sold {
    background-color: var(--red-01-color);
}

.status-blocked {
    background-color: var(--gray-02-color);
}

/*================ main sort Dropdown ================*/

#m-header__container {
    display: relative;
    cursor: pointer;
}

#m-header__list {
    z-index: 1;
    right: 30px;
    display: none;
    margin-top: 6px;
    position: absolute;
    text-align: center;
    padding: 6px 10px 6px 10px;
    border-radius: var(--default-radius);
    background-color: var(--white-color);
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.04);
}

.m-header__item {
    display: block;
    border-radius: var(--default-radius);
    padding: 10px;
}

.m-header__item:hover {
    background-color: var(--white-02-color);
}

/*================ media queries ================*/
@media (max-width: 900px) {
    #m-header {
        margin-bottom: 17px;
    }
}

@media (max-width:845px) {
    #m-header {
        margin-bottom: 29px;
    }
}

@media (max-width: 750px) {
    #m-header__text {
        text-align: right;
        max-width: 90px;
    }

    #m-header {
        margin-bottom: 17px;
    }

}

@media (max-width: 680px) {
    main {
        padding: 20px 10px;
    }
    #m-header__list {
        right: 10px;
    }
}

@media (max-width: 380px) {
    #m-header__title {
        max-width: 100px;
    }
}


@media (max-width: 320px) {
    .table-container {
        overflow-x: auto;
    }
}