


/*================ main sort Dropdown ================*/
#main-dropdown {
  display: relative;
}
#main-dropdown-content {
  right: 30px;
  margin-top: 6px;
  display: none;
  position: absolute;
  background-color: var(--white-color);
  min-width: 50px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.11);
  z-index: 1;
  padding: 6px 10px 6px 10px;
  border-radius: var(--default-radius);
}

#main-dropdown-content .main-dropdown-item {
  color: var(--default-gray-color);
  text-decoration: none;
  font-size: var(--high-size);
  padding: 10px;
  border-radius: var(--default-radius);
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

#main-dropdown-content .main-dropdown-item:hover {
  background-color: var(--light-gray-color);
}
